.spaceIcons {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0rem;   
}

.icon {
    color: blue;
    font-size: 2rem;
}

.menuContainer {
    background-color: aqua;
    width: 100vw;
    margin-top: auto;
}



 