.menuContainer {
    width: 100vw;
    position: sticky;
    background-color: aqua;
}

.spaceIcons {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0rem;   
}

.icon {
    color: blue;
    font-size: 2rem;
}





 