* {
    margin: auto;
}

.homeContainer {
    display: flex;
    flex-direction: column;
}

.calendarTask {
    height: 85vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}


